<!--<footer>
    <div class="bottom-footer">
      <div class="copyright">© Damiaanactie  - website by group D3</div>
      <div class="back-top"><a href="">Terug naar boven</a></div>
    </div>
</footer>-->
<mat-card-footer fxFlex=100 fxFlex.gt-sm=80>
  <div class="info-contact col-lg-6">
    <div>
      <div class="reseaux">
        <h2>{{ 'Footer.Volg ons' | translate }}</h2>
        <ul>
          <li>
            <a href="https://www.facebook.com/ActionDamien.Damiaanactie" target="_blank">
              <img src="././assets/images/socialMediaIcons/Facebook.png" class="icon" />
            </a>
            <a href="https://www.facebook.com/ActionDamien.Damiaanactie" target="_blank" class="link"><i class="fab fa-facebook-f"></i> Facebook</a>
          </li>
          <li>
            <a href="https://www.facebook.com/ActionDamien.Damiaanactie" target="_blank">
              <img src="././assets/images/socialMediaIcons/Instagram.png" class="icon" />
            </a>
            <a href="https://www.instagram.com/damien.foundation.belgium/" target="_blank" class="link"><i class="fab fa-instagram"></i> Instagram</a>
          </li>
          <li>
            <a href="https://www.facebook.com/ActionDamien.Damiaanactie" target="_blank">
              <img src="././assets/images/socialMediaIcons/Twitter.png" class="icon" />
            </a>
            <a href="https://twitter.com/damiaanactie?lang=fr" target="_blank" class="link"><i class="fab fa-twitter"></i> Twitter</a>
          </li>
          <li>
            <a href="https://www.facebook.com/ActionDamien.Damiaanactie" target="_blank">
              <img src="././assets/images/socialMediaIcons/LinkedIn.png" class="icon" />
            </a>
            <a href="https://www.linkedin.com/company/damiaanactie" target="_blank" class="link"><i class="fab fa-linkedin-in"></i> Linkedin </a>
          </li>
          <li>
            <a href="https://www.facebook.com/ActionDamien.Damiaanactie" target="_blank">
              <img src="././assets/images/socialMediaIcons/Youtube.png" class="icon" />
            </a>
            <a href="https://www.youtube.com/channel/UCl1mKM5fKR9e409x3SiId9A" target="_blank" class="link"><i class="fab fa-youtube"></i> Youtube </a>
          </li>

        </ul>
      </div>
      <div class="contact">
        <h2>{{ 'Footer.Contacteer ons' | translate }}</h2>
        <p id = "info">
          <span class="adresse">Leopold II-laan 263</span> <br>
          <span class="cpville">1081 Brussel</span> <br><br>
          <span class="mail"><a href="mailto:info@damiaanactie.be" id="email">info@damiaanactie.be</a></span> <br>
          <span class="tel">+32(0)2 422 59 11</span>
        </p>
        <p class="compte-bancaire">BE05 0000 0000 7575</p>
        <p class="numero-compte">(mededeling '2512')<br>{{ 'Footer.Ondernemingsnummer' | translate }}: 0406.694.670</p>
      </div>
    </div>
  </div>
</mat-card-footer>
