<div mat-dialog-title class="flex-container">
    <h1>Reglement</h1>
</div>
<div mat-dialog-content>
    <h2>
        Reglement Damien Tour
    </h2>
    <h3>
        Artikel 1
    </h3>
    De Damien Tour wordt georganiseerd door de vzw Damiaanactie.
    <h3>
        Artikel 2
    </h3>
    De Damien Tour is een wandeltocht en geen wedstrijd. Deelnemen gebeurt vrijwillig en op eigen risico.
    <h3>
        Artikel 3
    </h3>
    Inschrijven gebeurt alleen op de wijze en onder de voorwaarden die door de vzw Damiaanactie worden bepaald. De inschrijving is strikt persoonlijk en niet overdraagbaar.
    <h3>
        Artikel 4
    </h3>
    <ul>
        <li>
            Tijdens het event is het de deelnemers op gelijk welke wijze verboden
        </li>
        <li>
            uiting te geven aan een politieke of religieuze gezindheid
        </li>
        <li>
            eclame-voorwerpen te dragen, tenzij met toestemming van het bestuur
        </li>
        <li>
            wapens mee te dragen, al of niet zichtbaar
        </li>
        <li>
            (huis-)dieren mee te voeren, om zowel de dieren zelf als de andere deelnemers te beschermen
        </li>
        <li>
            gebruik te maken van een vervoermiddel
        </li>
        <li>
            kinderwagens of andere een- of meerwielige voorwerpen, luidspelende radio's of andere geluidsdragers mee te voeren
        </li>
        <li>
            voorwerpen te dragen of mee te nemen die een gevaar kunnen betekenen voor de andere deelnemers, met inbegrip van wandelstokken zoals bij nordic walking
        </li>
        <li>
            gebruik te maken van handbikes of andere ketting-aangedreven rolstoelen (alleen gewone rolstoelen zijn toegestaan voor mindervalide deelnemers)
        </li>
        <li>
            ls niet ingeschreven deelnemer een ingeschreven deelnemer te vergezellen gedurende de gehele of een deel van de afstand te voet of met een ander vervoermiddel met als doel de ingeschreven deelnemer te helpen.
        </li>
    </ul>
    <h3>
        Artikel 5
    </h3>
    De deelnemers, medewerkers en het publiek mogen op geen enkele wijze uiting geven aan een politieke of religieuze voorkeur tijdens het evenement.
    <h3>
        Artikel 6
    </h3>
    De deelnemer is verplicht het aangegeven wandelparcours te volgen.
    <h3>
        Artikel 7
    </h3>
    <h3>
        De kledij van de deelnemer dient in overeenstemming te zijn met de goede zeden.
    </h3>
    <h3>
        Artikel 8
    </h3>
    Aanwijzingen van de organisatie, politie en andere medewerkers dienen te worden opgevolgd en gerespecteerd. De wegcode blijft van kracht op de openbare weg.
    <h3>
        Artikel 9
    </h3>
    Overtredingen van dit reglement leiden tot onmiddellijke uitsluiting van deelname, ook aan volgende edities en zonder enige tegemoetkoming of terugbetaling.
    <h3>
        Artikel 10
    </h3>
    Alle betaalde inschrijvingsgelden zijn ten allen tijde verworven door de organisator.
    <h3>
        Artikel 11
    </h3>
    Met de inschrijving voor de Damien Tour verklaart de deelnemer zich gezond verklaard door een arts, voor deelname aan een dergelijke afstand en inspanning. Bij problemen moet hij/zij die medische verklaring kunnen voorleggen.
    <h3>
        Artikel 12
    </h3>
    Met de inschrijving verklaart de deelnemer zich akkoord met het eventuele gebruik door de vzw Damiaanactie van zijn personalia en/of van zijn beeltenis in druk, op foto, film, video en dergelijke, voor promotionele of voorlichtende doeleinden van de Damien Tour, zonder dat hiervoor een vergoeding kan worden gevorderd.
    <h3>
        Artikel 13
    </h3>
    De vzw Damiaanactie is op geen enkele wijze verantwoordelijk of (geldelijk) aansprakelijk voor ongevallen en/of ziekte van deelnemers, voor verlies van bezittingen, of elk ander door de deelnemer beweerd geleden nadeel.
    <h3>
        Artikel 14
    </h3>
    De organisator behoudt zich het recht voor de route, start- en aankomsttijden of -plaatsen te wijzigen, of de Damien Tour geheel of gedeeltelijk af te lassen op grond van extreme weers- of andere omstandigheden door de organisator bepaald, al of niet in samenspraak met overheid of politie. Er bestaat ook in die gevallen geen recht op teruggave van het inschrijfgeld noch op vergoeding van gelijk welke schade.
    <h3>
        Artikel 15
    </h3>
    Deelnemen kan alleen vanaf het jaar waarin iemand 16 jaar wordt, om medische redenen.
    <h3>
        Artikel 16
    </h3>
    Door deel te nemen aan de Damien Tour is de deelnemer zich bewust van de gevraagde en nodige inspanning, en erkent de deelnemer dat hij/zij zich in een medische toestand bevindt die hem/haar toelaat om de ganse 100 km af te leggen in de door de organisatie gestelde termijnen.
    <h3>
        Artikel 17
    </h3>
    Met de inschrijving voor de Damien Tour verklaart de deelnemer kennis te hebben genomen en akkoord te gaan met het reglement.
    <h3>
        Artikel 18
    </h3>
    Om de Damien Tour te kunnen organiseren, hebben wij van elke deelnemer een aantal basisgegevens nodig, die wij gebruiken voor het inschrijven, de verzekering, de statistieken, de veiligheid, het deelname diploma en om onze deelnemers via mail te kunnen informeren. In geen enkel geval worden die gegevens misbruikt of doorgegeven aan derden. Aan de deelnemer wordt dan ook gevraagd om hiervoor zijn/haar toestemming te geven.
    <h3>
        Artikel 19
    </h3>
    Deelnemen aan de Damien Tour zonder geldige inschrijving is gevaarlijk, ten strengste verboden, en ook volledig af te raden omdat men dan geen gebruik mag maken van alle aangeboden diensten : geen verzekering, geen medische verzorging door het Rode Kruis, geen bevoorrading, geen toegang tot de controleposten, geen bagagedienst of gebruik van de bezemwagens. Bij overtreding wordt deze persoon uitgesloten voor alle volgende Damien Tours of andere activiteiten van de vzw Damiaanactie.
    <h3>
        Artikel 20
    </h3>
    Al onze medewerkers zijn vrijwilligers die het beste van zichzelf geven om de Damien Tour te organiseren en de wandelaar van een schitterende ervaring te laten genieten. Dat verdient ook respect en sympathie. Als bepaalde wandelaars dat respect niet kunnen of willen opbrengen, zijn ze voortaan niet meer welkom op onze organisatie en worden ze uitgesloten van alle verdere deelnames in de toekomst.
    <h3>
        Artikel 21
    </h3>
    In alle gevallen waarin dit reglement niet voorziet, beslist het bestuur van de vzw Damiaanactie. Rechtszaken zullen steeds behandeld worden door hoven en rechtbanken van Brussel

    <h2>Praktische Info</h2>
    Inschrijven :
    <ul>
        <li>
            Het inschrijvingsgeld bedraagt 50€ , en je kunt inschrijven via de website. Er kan enkel op voorhand worden ingeschreven vanaf 3 maanden voor het evenement tot 1 maand voor het evenement
        </li>
        <li>
            De controlebadge en verdere info zullen worden opgestuurd naar de deelnemers.
        </li>
        <li>
            Parkeren kan aan de IMEC-toren langs de koning Boudewijnlaan. Buslijnen 6,7,8 verbinden het
            NMBS station van Leuven met de halte aan de Joos Florquinlaan dichtbij de start.
        </li>
        <li>
            Na inschrijving (met online betaling) krijg je een e-mail als bevestiging van je inschrijving. Later samen met je startnummer, praktische info om je badge af te halen, enz. Het volledige wandelboekje zal ten gepasten tijde online beschikbaar staan op onze website, en kun je eventueel
            zelf printen
        </li>
        <li>
            Het parcoursplan staat begin juli op de website en je kunt het desgewenst ook zelf printen en
            meebrengen
        </li>
        <li>
            het deelnemers T-shirt kan enkel besteld worden tijdens de inschrijvingsperiode.
        </li>
        <li>
            Afhalen van het T-shirt : de enveloppe die je afhaalt met daarin je controlebadge is het enige bewijs van betaling, en moet dan ook worden getoond bij het afhalen van je T-shirt. Het kan ook tijdens de afhaaldagen (zie verder) worden afgehaald. Tijdens de Dodentocht zelf kun je het T-shirt alleen op vrijdag 14 augustus van 13u tot 20u30 afhalen in de grote tent op het kerkplein.
        </li>
        <li>
            Als je door omstandigheden niet kunt deelnemen en toch je T-shirt wilt, kunnen deze alleen afgehaald worden tijdens de afhaaldagen (zie verder) of op vrijdag 10 augustus. T-shirts worden NIET nagestuurd per post.
        </li>
        <li>
            Voor aanpassingen van inschrijvingen (vergeten bestellen van T-shirt - enkel bij voorinschrijving - en/of maaltijd, enz. ) wordt een administratieve kost van €5 aangerekend. Hiervoor neemt u contact op met de cel Intern via intern@dodentocht.be.
        </li>
        
    </ul>
    Afhaaldagen, start en aankomst
    <ul>
        <li>
            De controlebadges kunnen op een aantal afhaaldagen voor de Dodentocht afgehaald worden.
        </li>
    </ul>
    Nog inschrijven is dan niet meer mogelijk !
    <ul>
        <li>
            Locatie en data afhaaldagen
        </li>
        Locatie : sporthal OLVP, Temsesteenweg 10, 2880 Bornem - data : ° zaterdag 27 juli van 13 tot 17u
        ° zaterdag 3 augustus van 13 tot 17u
        ° woensdag 7 augustus van 15 tot 19u
        <li>
            Je kunt uiteraard ook nog op de dag zelf (vrijdag 14 augustus) je controlebadge afhalen in de tent
            op het kerkplein van 13u tot 20u30, maar inschrijven kan dan niet meer !
        </li>
        <li>
            Start 50ste Damien Tour : vrijdag 14 augustus 2020 om 21u00
        </li>
        <li>
            Omdat de start een halfuur kan duren, mogen de wandelaars op zaterdag ook aankomen tot 21u30.
            Met dit halfuur wordt ook rekening gehouden in alle controleposten.
        </li>
        <li>
            De wandeltijd start pas als de deelnemer over de startmeet (scanning) stapt. Dit is verplicht, zoniet
            ben je niet officieel geregistreerd als deelnemer !
        </li>
        <li>
            aankomst : zaterdag 15 augustus 2019 van 07u00 tot 21u30.
        </li>
        <li>
            racking : de trackingpagina is pas actief vanaf de start, vanaf de eerste scanning !
        </li>
    </ul>

    Tijdens de tocht en bij aankomst
    <ul>
        <li>
            elke controlepost heeft een eigen openings- en sluitingstijd die iedere deelnemer strikt moet respecteren.
        </li>
        <li>
            Vertrekken voor 21.00 uur is ten strengste verboden. Start om 21.00 uur, openings- en sluitingsuren in de posten worden strikt toegepast. Maximum duur van de tocht is 24 uur. Zonder startscan of bij bedrog wordt men onmiddellijk uitgesloten, geschrapt uit de deelnemerslijst en ontvangt men geen enkele compensatie en beloning !!!
        </li>
        <li>
            Servicepakket: bevoorrading, EHBO door het Rode Kruis, BA-verzekering (Wandelsport Vlaanderen), transport bagage halfweg, bij opgave in een controlepost wordt er vervoer naar Bornem geregeld, mogelijkheid tot overnachting (slaapzaal, camping, tegen vergoeding), warme maaltijd halfweg (op voorhand te bestellen)
        </li>
        <li>
            Opgeven is niet toegelaten op de “nood-locaties”, die dienen alleen voor echte noodgevallen ! Bagage: mogelijkheid tot transport naar post halfweg, en nadien terug naar Bornem. Eén stuk bagage met een max. gewicht van 15 kg en voorzien van een label met vermelding van naam, adres en telefoonnummer van de deelnemer. Weer op te halen bij aankomst op vertoon van de scanbadge en een identiteitsbewijs van de wandelaar als hij die zelf niet kan afhalen. Geen medicatie, breekbare
            of waardevolle voorwerpen in deze bagage, en ook geen vloeistoffen of dranken !
        </li>
        <li>
            Iedereen die de tocht succesvol beëindigt, ontvangt ter plaatse een medaille en een diploma met tussentijden.
        </li>
        
    </ul>
    Ongevallen en verzekering tijdens de tocht
    <ul>
        <li>
            Neem bij elk ongeval contact op met de organisatoren of het Rode Kruis, vraag om een ongevalsaangifte in te vullen en zorg ervoor dat uw naam, volledig adres én een omschrijving van het ongeval op de formulieren zijn ingevuld.
        </li>
        <li>
            De deelnemers zijn verzekerd in burgerlijke aansprakelijkheid en lichamelijke ongevallen conform de bepalingen van het decreet van de niet professionele sportbeoefenaar. Transport per ziekenwagen is altijd op kosten van de deelnemer.
        </li>
        <li>
            Alleen ongevallen zijn verzekerd, geen ziektes of andere ongemakken als gevolg van de wandeltocht
        </li>
    </ul>
    Opmerkingen en klachten
    <ul>
        <li>
            alle vragen, voorstellen, klachten en opmerkingen kunnen enkel schriftelijk via Puursesteenweg 373 te 2880 BORNEM overgemaakt worden of via mail naar rvb@dodentocht.be
        </li>
        <li>
            Rechtszaken zullen steeds behandeld worden door de rechtbank te Mechelen.
        </li>
    </ul>
    Praktisch
    <ul>
        <li>
            we gebruiken een controlebadge met chip voor de registratie op de controleposten.
        </li>
        <li>
            Elke wandelaar mét bagage moet zich ook steeds uitscannen, voor een snelle en juiste afhandeling
            voor het terugbrengen van de bagage.
        </li>
        <li>
            De wandelaar die opgeeft en met de bezemwagen terug naar Bornem wil, moet zich ook uitscannen.
        </li>
        <li>
            En krijgt dan een retourticket waarmee die in de bezemwagen kan stappen.
        </li>
        <li>
            Op alle controleposten zijn voor de bezemwagens de nodige herkenningspunten aangebracht.
        </li>
        <li>
            De controlebadges met chip mogen altijd worden behouden en meegenomen.
        </li>
        <li>
            Wees op tijd aanwezig om files te vermijden en op tijd te kunnen starten.
        </li>
        <li>
            Bereikbaarheid met de trein: de NMBS drijft de capaciteit van zijn treinen op, vanuit Sint-Niklaas en
        </li>
        <li>
            Mechelen is er om het uur een trein die stopt in Bornem. Het station van Bornem ligt slechts op
            200m van het kerkplein (inschrijvingen). Bekijk de dienstregelingen op www.nmbs.be.
        </li>
        <li>
            Internet: inschrijven doe je dus via onze website www.dodentocht.be . Ons secretariaat is vanaf 1 juli tot aan de Dodentocht elke avond telefonisch bereikbaar tussen 19 en 22 uur op nummer
            03/889.35.45 of via intern@dodentocht.be.
        </li>
    </ul>
    Tot ziens in augustus, veel geluk en veel plezier !
</div>